body {
  font-family: 'Jost', sans-serif;
  height: 100%;
}

h1{
  font-family: 'Alata', sans-serif;
}

img {
  width: 100%;
}

.navbar {
  /* background-color: rgb(3, 47, 47);
  filter: drop-shadow(0 0 0.75rem teal);
  opacity: .9; */
  font-family: 'Alata', sans-serif;
  font-size: 1.1rem;
  position: relative;
  text-transform: uppercase;
  margin-top: 1rem;
}

.nav-link {
  font-family: 'Alata', sans-serif;
}

.card{
  filter: drop-shadow(0 0 0.50rem grey);
}

.home-search{
  height: 100vh;
  width: 100%;
}

.search-box{
  width: 100%;
}

.form--wrapper{
  display: flex;
  justify-content: center;
}

.search{
  margin-top: 5.9rem;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dream-home--text{
  opacity: .7;
}
/* Turns images into Circles for About page */
#circleimg {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

#circleimg img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.social a {
  margin-right: 0.4rem;
}


.showcase { 
  background: url(../img/showcase.jpg); 
  /* z-index: 0; */
  /* Full height */
  /* height: 100vh; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 5rem;
}

/* .showcase-inner{
  background: url('../img/showcase.jpg') no-repeat top center fixed/cover;
  min-height: 200px;
} */

.listing--wrapper{
 margin-top: 46rem;
 margin-bottom: 5rem;
}

.listing-line{
  border: solid 2px teal;
  max-width: 10%;
}

.listing-preview a {
  position: relative;
}

/* city, price, state */
/* .search{
  margin-left: 15%;
} */

.search-box{
  display: flex;
  justify-content: center;
  /* margin-top: 7rem; */
  width: 100%;
}

#login{
  height: 100vh;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

@media (max-width: 991px) {
  
  .showcase h1 {
    font-size: 40px;
  }

  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  .showcase {
    padding-top: 3rem;
  }

  .showcase h1 {
    font-size: 20px;
  }

  .showcase p {
    display: none;
  }

  #top-bar {
    text-align: center;
  }

  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  .showcase{
    position: relative;
    bottom: 100px;
  }
  .showcase h1 {
    font-size: 35px;
  }

  .showcase-inner h1 {
    font-size: 40px;
  }

  .search{
    margin-left: 0%;
    margin-right: 15%;
  }
}  