body {
  font-family: 'Rubik', sans-serif;
}

img {
  width: 100%;
}

/* Keeps footer at the bottom */
#login{
 
  min-height: 750px;
}

/* Keeps footer at the bottom */
.noListings{
  min-height: 170px;
}


/* .logo {
  width: 80px;
} */

.navbar {
  
  background-color: rgba(61, 41, 59); 
  border-bottom: solid 2px purple;
  text-transform: uppercase;
  
  /* position: relative;
  top: 60px;
   */
  
}

/* Turns images into Circles for About page */
#circleimg {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

#circleimg img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.social a {
  margin-right: 0.4rem;
}

#showcase { 
  
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover; 

  min-height: 800px;
  z-index: 0;
 
  
  /* padding-top: 6rem; */
}

#showcase .home-search {
  
  font-family: 'Poppins', sans-serif;

}

#listingLine{
  border: solid 2px purple;
  max-width: 10%;
}


#showcase-inner{
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  min-height: 200px;
}

.listing-preview a {
  position: relative;
}

.search{
  margin-left: 15%;
}

@media (max-width: 991px) {
  #showcase {
    /* padding-top: 4rem; */
  }

  #showcase h1 {
    font-size: 40px;
  }

  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem;
  }

  #showcase h1 {
    font-size: 20px;
  }

  #showcase p {
    display: none;
  }

  #top-bar {
    text-align: center;
  }

  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase{
    
    position: relative;
    bottom: 100px;

  }
  #showcase h1 {
    font-size: 35px;
    /* font-size: 35px; */
   
  }

  #showcase-inner h1 {
    font-size: 40px;
  }

  .search{
    margin-left: 0%;
    margin-right: 15%;
  }
 
} 